<ul>
    {{#each @model as |item|}}
        {{#if item.id}}
            <li>{{item.todo}}</li>
        {{/if}}
        <button onclick={{fn this.delete @model item}} type='button'>delete</button>
    {{/each}}
</ul>
<form onsubmit={{fn this.submit @model}}>
    <input placeholder="Add todo" type="text" value={{this.text.todo}} onchange={{fn this.onChange}}/>
    <button type='submit'>Add</button>
</form>